info.app.name: '@project.name@'
info.app.version: '@project.version@'

spring:
    kafka:
        bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
        properties:
            sasl:
                jaas:
#                    config: org.apache.kafka.common.security.plain.PlainLoginModule required username=${kafka_username:'admin'} password=${kafka_password:'admin-secret'};
#                    config: org.apache.kafka.common.security.scram.ScramLoginModule required username=kafka_user1 password=sdfkjlIUERELKJC3453;
                    config: org.apache.kafka.common.security.scram.ScramLoginModule required username=${KAFKA_USER} password=${KAFKA_PASSWORD};
                mechanism: SCRAM-SHA-512
            security:
                protocol: SASL_SSL
        ssl:
            trust-store-location: file:///ssl_truststore
            trust-store-password: 1q2w3e
        producer:
            client-id: stock_exchange
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.imartynov.quote.stock.QuoteSerializer
            retries: 2
        jaas:
            enabled: false
        listener:
            poll-timeout: 1800000
            concurrency: 1
            ack-mode: manual_immediate

management:
    endpoints:
        web:
            exposure:
                include: "*"
        health:
            show-details: always

stockexchange:
    stocks: ABP,GDP,ERR,ZTE,QNX,TRE,IOP
    quotePerSecond: ${QUOTE_PER_SECOND:1}
