info.app.name: '@project.name@'
info.app.version: '@project.version@'

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    properties:
      sasl:
        jaas:
          config: org.apache.kafka.common.security.scram.ScramLoginModule required username=${KAFKA_USER} password=${KAFKA_PASSWORD};
        mechanism: SCRAM-SHA-512
      security:
        protocol: SASL_SSL
    ssl:
      trust-store-location: file:///ssl_truststore
      trust-store-password: 1q2w3e
    consumer:
      auto-offset-reset: latest
      group-id: ${CUSTOMER_SHARD_NUMBER:0}
#      group-id: ${random.uuid}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.imartynov.quote.stock.QuoteDeserializer
      max-poll-records: 1
      fetch-max-wait: 36000
      enable-auto-commit: false
      client-id: input
    jaas:
      enabled: false
    listener:
      poll-timeout: 1800000
      # 1 thread per topic partition
      concurrency: 1
      ack-mode: manual_immediate

management:
  endpoints:
    web:
      exposure:
        include: "*"
    health:
      show-details: always

index:
  customerShardNumber: ${CUSTOMER_SHARD_NUMBER:0}


#stockexchange:
#  stocks: ABP,GDP,ERR,ZTE,QNX,TRE,IOP
#  quotePerSecond: 1
